/*variables*/
:root {
    --background-color: #FFFFFF;
    --button-color: #458FF6;
    --title-color: #233348;
    --black: #000000;
    --hint-color: #7D7987;
    --large-wieght: 700;
    --meduim-wieght: 550;
    --vertical-padding: 32px;
    --horizontal-padding: 112px;
}

:root {
    --px-scale: 1;
}

@media (max-width: 1200px) {
    :root {
        --px-scale: 0.9;
        --vertical-padding: 28px;
        --horizontal-padding: 100px;
    }
}

@media (max-width: 920px) {
    :root {
        --px-scale: 0.8;
        --vertical-padding: 24px;
        --horizontal-padding: 50px;
    }
}

@media (max-width: 667px) {
    :root {
        --px-scale: 0.7;
        --vertical-padding: 16px;
        --horizontal-padding: 32px;
    }
}

:root {
    --px-1: calc(1px * var(--px-scale));
    --px-2: calc(2px * var(--px-scale));
    --px-4: calc(4px * var(--px-scale));
    --px-6: calc(6px * var(--px-scale));
    --px-8: calc(8px * var(--px-scale));
    --px-10: calc(10px * var(--px-scale));
    --px-12: calc(12px * var(--px-scale));
    --px-14: calc(14px * var(--px-scale));
    --px-16: calc(16px * var(--px-scale));
    --px-18: calc(18px * var(--px-scale));
    --px-20: calc(20px * var(--px-scale));
    --px-22: calc(22px * var(--px-scale));
    --px-24: calc(24px * var(--px-scale));
    --px-28: calc(28px * var(--px-scale));
    --px-32: calc(32px * var(--px-scale));
    --px-36: calc(36px * var(--px-scale));
    --px-40: calc(40px * var(--px-scale));
    --px-44: calc(44px * var(--px-scale));
    --px-48: calc(48px * var(--px-scale));
    --px-56: calc(56px * var(--px-scale));
    --px-64: calc(64px * var(--px-scale));
    --px-72: calc(72px * var(--px-scale));
    --px-80: calc(80px * var(--px-scale));
    --px-96: calc(96px * var(--px-scale));
    --px-112: calc(112px * var(--px-scale));
    --px-120: calc(120px * var(--px-scale));
}

/*rules*/
a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: var(--background-color);
}

/*header style*/
header {
    display: flex;
    justify-content: space-between;
    padding: var(--vertical-padding) var(--horizontal-padding);
}

header .title {
    display: flex;
    gap: var(--px-16);
    align-items: center;
    justify-content: center;
}

header .title .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    border-radius: 50%;
    background: var(--button-color);
    aspect-ratio: 1 / 1;
}

header .title p {
    color: var(--background-color);
    font-weight: var(--large-wieght);
    font-size: 24px;
}

header .title h2 {
    color: var(--title-color);
    font-weight: var(--large-wieght);
    font-size: 22px;
}

header .small-links {
    display: none;
}

header ul {
    display: flex;
    list-style: none;
    gap: var(--px-32);
}

header ul li {
    display: flex;
    justify-content: left;
    align-items: center;
}

header ul li a {
    font-weight: var(--meduim-wieght);
    font-size: var(--px-16);
    color: var(--title-color);
    position: relative;
}

header ul li a::after {
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--px-4));
    left: 0;
    width: 0;
    height: var(--px-2);
    background-color: var(--title-color);
    transition: width 0.3s ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 767px) {

    header ul {
        display: none;
    }

    header .small-links {
        display: inherit;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        justify-content: center;
    }

    header .small-links .icon {
        display: inherit;
        align-items: end;
        flex-direction: column;
        width: 30px;
        gap: 5px;
    }

    header .small-links .icon span {
        height: 2px;
        background-color: var(--title-color);
        width: 100%;
    }

    header .small-links .icon span:nth-child(2) {
        width: 60%;
        transition: width 0.3s ease-in-out;
    }

    header .small-links .icon:hover span:nth-child(2) {
        width: 100%;
    }

    header .small-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 44px;
        right: 0;
        background-color: white;
        border-radius: 4px;
        padding: 8px 0;
        width: 150px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    header .small-links:hover ul {
        display: flex;
    }

    header .small-links ul li {
        align-self: left;
        padding: 4px 16px;
    }

    header .small-links ul li a {
        color: var(--title-color);
        font-size: 14px;
    }
}

/*home style*/
.home {
    padding: var(--vertical-padding) var(--horizontal-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--px-32);
}

.home div:first-child {
    display: flex;
    flex-direction: column;
    gap: var(--px-16);
}

.home h1 {
    font-size: var(--px-40);
    font-weight: var(--large-wieght);
    color: var(--black);
}

.home img {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: fill;
}

.home p{
    font-size: 16px;
    font-weight: 300;
    color: var(--hint-color);
}

.home a{
    width: calc(var(--px-120) + var(--px-40));
    padding: var(--px-16) 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--px-120) + var(--px-40));
    background: var(--button-color);
}

.home a *{
    color: var(--background-color);
    font-size: 16px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .home div:first-child {
        flex: 1.5;
    }

    .home div:last-child {
        flex: 2;
    }
}

@media screen and (max-width: 767px) {
    .home {
        flex-direction: column;
    }
    .home img{
        aspect-ratio: 1/1;
    }
}