footer {
    display: flex;
    flex-direction: row;
    padding: var(--px-72) var(--px-24);
    background: linear-gradient(180deg, #67C3F3, #5A98F2);
    flex-wrap: wrap;
    gap: var(--px-48);
    justify-content: flex-start;
    align-items: center;
}

footer .title-div {
    width: calc(var(--px-96) * 4.25);
    display: flex;
    gap: var(--px-16);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer div:not(:first-child) {
    width: calc(var(--px-96) * 1.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--px-20);
}

footer div .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--px-12);
}

footer .title .icon {
    background-color: var(--background-color);
}

footer .title .icon p {
    color: var(--button-color);
}

footer .title h2 {
    color: var(--background-color);
}

footer .title-div .f-1 {
    color: var(--background-color);
    font-size: 18px;
    font-weight: 300;
}

footer .title-div .f-2 {
    color: var(--background-color);
    font-size: 16px;
    font-weight: 300;
}

footer div:not(:first-child) h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--background-color);
}

footer .links a {
    font-size: 16px;
    font-weight: 300;
    color: var(--background-color);
    position: relative;
}

footer .links a::after {
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--px-4));
    left: 0;
    width: 0;
    height: var(--px-2);
    background-color: var(--background-color);
    transition: width 0.3s ease-in-out;
    border-radius: 100px;
}

footer .links a:hover::after {
    width: 100%;
}

@media(max-width:460px) {
    footer {
        justify-content: center;
    }

    footer .title-div,
    footer div:not(:first-child) {
        width: 100%;
    }

    footer .title-div {
        align-items: center;
    }

    footer .title-div p {
        text-align: center;
    }
}

@media(max-width: 767px) {
    footer .links a {
        font-size: 14px;
    }

    footer div:not(:first-child) h4 {
        font-size: 16px;
    }

    footer .title-div .f-1 {
        font-size: 14px;
    }

    footer .title-div .f-2 {
        font-size: 12px;
    }
}

@media(min-width: 1200px) {
    footer {
        justify-content: center;
    }
}