/*header style*/
header {
    display: flex;
    justify-content: space-between;
    padding: var(--vertical-padding) var(--horizontal-padding);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--background-color);
    box-shadow: 2px 2px 6px 2px var(--shadow-color);
}

header .small-links {
    display: none;
}

header ul {
    display: flex;
    list-style: none;
    gap: var(--px-32);
}

header ul li {
    display: flex;
    justify-content: left;
    align-items: center;
}

header ul li a {
    font-weight: var(--meduim-wieght);
    font-size: var(--px-16);
    color: var(--title-color);
    position: relative;
}

header ul li a::after {
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--px-4));
    left: 0;
    width: 0;
    height: var(--px-2);
    background-color: var(--title-color);
    transition: width 0.3s ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

@media screen and (max-width: 767px) {

    header ul {
        display: none;
    }

    header .small-links {
        display: inherit;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        justify-content: center;
    }

    header .small-links .icon {
        display: inherit;
        align-items: end;
        flex-direction: column;
        width: 30px;
        gap: 5px;
    }

    header .small-links .icon span {
        height: 2px;
        background-color: var(--title-color);
        width: 100%;
    }

    header .small-links .icon span:nth-child(2) {
        width: 60%;
        transition: width 0.3s ease-in-out;
    }

    header .small-links .icon:hover span:nth-child(2) {
        width: 100%;
    }

    header .small-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 44px;
        right: 0;
        background-color: white;
        border-radius: 4px;
        padding: 8px 0;
        width: 150px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    header .small-links:hover ul {
        display: flex;
    }

    header .small-links ul li {
        align-self: left;
        padding: 4px 16px;
    }

    header .small-links ul li a {
        color: var(--title-color);
        font-size: 14px;
    }
}