/*home style*/
.home {
    padding: var(--vertical-padding) var(--horizontal-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--px-32);
}

@media (min-width: 1200px) {
    .home {
        gap: var(--px-120);
    }
}

.home div:first-child {
    display: flex;
    flex-direction: column;
    gap: var(--px-16);
}

.home h1 {
    font-size: var(--px-40);
    font-weight: var(--large-wieght);
    color: var(--black-title-color);
}

.home img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.home p {
    font-size: 16px;
    font-weight: 300;
    color: var(--hint-color);
}


@media (min-width: 768px) {
    .home div:first-child {
        flex: 1.5;
    }

    .home div:last-child {
        flex: 2;
    }
}

@media screen and (max-width: 767px) {
    .home {
        flex-direction: column;
    }

    .home img {
        aspect-ratio: 1/1;
    }

    .home p {
        font-size: 14px;
    }
}