/*service style*/
.services {
    padding: var(--vertical-padding) var(--horizontal-padding);
    display: flex;
    flex-direction: column;
    gap: var(--px-48);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    gap: 20px;
}

.services .service {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
    padding: 48px 24px;
    border-radius: var(--px-20);
    background: var(--background-color);
    box-shadow: 2px 2px 6px 2px var(--shadow-color);
}

.service i {
    width: var(--px-112);
    color: var(--button-color);
}

.service h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--black-title-color);
}

.service p {
    font-size: 16px;
    font-weight: 300;
    color: var(--hint-color);
}

@media (max-width: 420px) {
    .services .container {
        grid-template-columns: 1fr;
    }

    .service h3 {
        font-size: 22px;
    }

    .service p {
        font-size: 14px;
    }
}