/*service style*/
.grid-container .service {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
    padding: 48px 24px;
    border-radius: var(--px-20);
    background: var(--background-color);
    box-shadow: 2px 2px 6px 2px var(--shadow-color);
}

.grid-container i {
    width: var(--px-112);
    color: var(--button-color);
}

.grid-container h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--black-title-color);
}

.grid-container p {
    font-size: 16px;
    font-weight: 300;
    color: var(--hint-color);
}

@media (max-width: 420px) {
    .service h3 {
        font-size: 22px;
    }

    .service p {
        font-size: 14px;
    }
}


.grid-container .service {
    transition: all 0.3s ease-in-out;
    border-bottom: 4px solid transparent;
}

.grid-container .service:hover,
.grid-container .service:hover i {
    transform: scale(1.05);
}


.grid-container .service:hover {
    border-bottom: 4px solid var(--button-color);
}